<h1>Listing actors</h1>

<table>
  <thead>
    <tr>
      <th>Idactors</th>
      <th>Lname</th>
      <th>Fname</th>
      <th>Mname</th>
      <th>Gender</th>
      <th>Number</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @actors.each do |actor| %>
      <tr>
        <td><%= actor.idactors %></td>
        <td><%= actor.lname %></td>
        <td><%= actor.fname %></td>
        <td><%= actor.mname %></td>
        <td><%= actor.gender %></td>
        <td><%= actor.number %></td>
        <td><%= link_to 'Show', actor %></td>
        <td><%= link_to 'Edit', edit_actor_path(actor) %></td>
        <td><%= link_to 'Destroy', actor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Actor', new_actor_path %>
